<!--partial template for displaying search results/game. should just be title, release date, cover art, genres/platforms-->
<!--Somewhere have an <a> tag with an href of href="api/games/single/{{game.id}}-->

<div class="box1">
    <a href="http://localhost:3001/api/games/single/{{id}}">
    <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
                <img src="{{cover_art_url}}">
    </a>
</div>

