<h1>{{userData.username}}'s Favorites</h1>
<div class="savedGames">
{{#each userData.games as |game|}}
    <div class="gameItem">
        <a href="http://localhost:3001/api/games/single/{{id}}">
        {{title}}
        </a>
        <div class="iconContainer">
            {{#if playlist.played}}
                <p>Played<i class="fa-solid fa-gamepad"></i></p>
            {{else}}
                <p>In progress<i class="fa-solid fa-dungeon"></i></p>
                <p>Cleared the game?<span><button type="button" id="completeToggle" data-id={{id}}><i class="fa-solid fa-scroll"></i></button></span></p>
            {{/if}}
                <p>Clear your save?<span><button type="button" id="deleteBtn" data-id={{id}}><i class="fa-solid fa-minus"></i></button></span></p>
        </div>
    </div>
{{/each}}
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/faves.js"></script>