<!--partial template for displaying search results/game. should just be title, release date, cover art, genres/platforms-->
<!--Somewhere have an <a> tag with an href of href="api/games/single/{{game.id}}-->

<div class="box1">tests1
    <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
            <a> href="api/games/sinlge/{{game.id}}"</a>
                <img src="{{gameResult.cover_art_url}}">
</div>
<br>
<div class="box2">tests2
    <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
             <a> href="api/games/sinlge/{{game.id}}"</a>
                <img src="{{gameResult.cover_art_url}}">
</div>
<br>
<div class="box3">tests3
    <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
             <a> href="api/games/sinlge/{{game.id}}"</a>
                <img src="{{gameResult.cover_art_url}}">
</div>
<br>
<div class="box4">tests4
    <h1>{{title}}</h1>
        <h4>{{release_date}}</h4>
            <a> href="api/games/sinlge/{{game.id}}"</a>
                <img src="{{gameResult.cover_art_url}}">
</div>
<br>
